<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Status -- STEMing Aspirations</title>
    <style>
        body{
            background-color: #008000;
        }
        h3{
            left: 0;
            margin-top: -100px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>{{message}}</h3>
    
</body>
</html>